<html>
<head>
    <link rel="stylesheet" href="/pure-min.css"/>
    <title>My Webpage now MODIFIEEEEEEEEED</title>
</head>
<body>

<table class="pure-table">
    <thead>
    <tr>
        <th>#</th>
        <th>test</th>
        <th>file</th>
    </tr>
    </thead>

    <tbody>
    {% for case in testCases %}
    <tr>
        <td>{{ case.id }}</td>
        <td>{{ case.test }}</td>
        <td>{{ case.error }}</td>
    </tr>
    {% endfor %}
    </tbody>

<!--<ul id="navigation">
    {% for case in testCases %}
    <li>{{ case }}</li>
    {% endfor %}
</ul>

<h1>My Webpage</h1>-->
</table>
</body>
</html>