<html>
<head>
    <link rel="stylesheet" href="/pure-min.css"/>
    <title>P4Fuzz Potential Bugs Found</title>
</head>
<body>
<h1> Random order</h1>
<table class="pure-table">
    <thead>
    <tr>
        <th>#</th>
        <th>test</th>
        <th>error</th>
    </tr>
    </thead>

    <tbody>
    {% for case in testCases %}
    <tr>
        <td>{{ case.id }}</td>
        <td>{{ case.test }}</td>
        <td>{{ case.error }}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
<table class="pure-table">

    <h1> Clustering taming</h1>

    <table class="pure-table">
        <thead>
        <tr>
            <th>#</th>
            <th>test</th>
            <th>file</th>
            <th>cluster</th>
            <th>medoid</th>
        </tr>
        </thead>

        <tbody>
        {% for case in clusteredTestCases %}
        <tr>
            <td>{{ case.id }}</td>
            <td>{{ case.test }}</td>
            <td>{{ case.error }}</td>
            <td>{{ case.cluster }}</td>
            <td>{{ case.isMedoid }}</td>
        </tr>
        {% endfor %}
        </tbody>

</table>
</body>
</html>